.upload-file2{
   display: grid;
    width: auto;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
    justify-items: center;
    border: 1px solid #BCBCBC;

    box-sizing: border-box;
    color: #ffffff;

    box-sizing: border-box;
}

.file {
  width: 50px;
	height: 50px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file + label {
    font-size: 0.8em;
    font-weight: 700;
    color: #f51f8a;

    background-color: #15549a;
    display: inline-block;
}

.file:focus + label,
.file + label:hover {
   color: #f51f8a;
    background-color: #f51f8a;
}

.file-input label span{
  position: absolute;
  align-items: center;
    justify-items: center;
  left: -200px;
  top: -15px;
}



.produk{
  width: 30px;
  height: 30px;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}
.btn-danger {
  font-family: 'Poppins';
  font-size: 13px;
  color: rgba(253, 250, 250, 0.75);
  letter-spacing: 1px;
  line-height: 5px;
  border: 2px solid rgba(250, 250, 250, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-danger:hover {
  color: #FFF;
  background: #f51f8a;
  border: 2px solid #f51f8a;
}
.btn-danger:focus {
  color: #FFF;
  background: #f51f8a;
  border: 2px solid #f51f8a;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.selectize-input {
    min-height: 50px !important;
}
.selectize-input>* {
    margin-top: 10px !important;
}

.label{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-warning {
    background-color: #f0ad4e;
}





