.upload-file2{
   display: grid;
    width: auto;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
    justify-items: center;
    border: 1px solid #BCBCBC;

    box-sizing: border-box;
    color: #ffffff;

    box-sizing: border-box;
}

.container-faq {
  margin-top: -30px;
}
.container-faq h1 {
  color: #fff;
}
.file {
  width: 50px;
	height: 50px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file + label {
    font-size: 0.8em;
    font-weight: 700;
    color: #f51f8a;

    background-color: #15549a;
    display: inline-block;
}

.file:focus + label,
.file + label:hover {
   color: #f51f8a;
    background-color: #f51f8a;
}

.file-input label span{
  position: absolute;
  align-items: center;
    justify-items: center;
  left: -200px;
  top: -15px;
}



.produk{
  width: 30px;
  height: 30px;
}

.btn {
  /*margin-left: 10px;*/
  margin-right: 10px;
}
.btn-danger {
  
  font-size: 5px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 3px;
  height: 2px;
  border: 2px solid #f51f8a;

  background: #f51f8a;
  transition: all 0.3s ease 0s;
  font-size: 17px;
}

.btn-danger:hover {
  color: #FFF;
  background: #f51f8a;
  border: 2px solid #f51f8a;
}
.btn-danger:focus {
  color: #FFF;
  background: #f51f8a;
  border: 2px solid #f51f8a;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.selectize-input {
    min-height: 50px !important;
}
.selectize-input>* {
    margin-top: 10px !important;
}

.label{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-warning {
    background-color: #f0ad4e;
}

html {
    scroll-behavior: smooth;
}


.invalid-feedback{
    display: block!important
}

/*wizard*/
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.img-fluid {
  max-width: 80%;
  height: auto;
}
.img-fluid2 {
  width: 300px;
  height: auto;
}
.post-img {
  width: 436.5px;
}
.num{
  width: 40px;
}
.arrow{
  height: 50px;

}

.icon2{
  width: 55px;
  height: 55px;
 margin-left: 300px;

}

.card-aggrement{
    width: 100%;
    height: 500px;
    margin: 70px auto;
}
.scrollable{
    overflow-y: auto;
    max-height: 450px;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.saturate { filter: brightness(0) invert(1); }


.icon-porto{
  width: 150px;
 
}
.logo-afpi{
  width: 200px;
}

.icon-ttg-layanan{
  width: 100%;
}
.logo-siap{
  width: 400px;
  margin-top: 250px;

}

.containers-with-margin{
  padding-top : 100px;
 
}
.text-profile{
  text-align: right;
  color: #FFF;
  align-self: flex-end;
}

.logo-ptsiap{
  width: 90%;
}
